<div class="row justify-content-center mt-5">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="card text-white bg-info">
      <div class="card-body">
        <h5 class="card-title" align="center">Welcome to Meeting Scheduler</h5>
        <p class="card-text" align="center">
          ((ADD PROJECT DESCRIPTION HERE!))
        </p>
      </div>
    </div>
    <div class="container mt-2" align="center">
      <button type="button" class="btn btn-outline-primary btn-lg">
        Get Started!
      </button>
    </div>
  </div>
</div>
